td.game-card {
    background-color: black;
    border-spacing: 15px;
    border: white;
    height: 300px;
    width: 200px;
    border: 15px white solid;

    
}

table.game-table {
    width: 400px;
}