td.game-card {
    background-color: white; 
    /* border: white; */
    /* height: 300px; */
    /* width: 200px; */
    border: 1px black solid; 
    
}

table.game-table {
    width: auto;
}

.value-top {
    text-align: left;
    font-weight: bold;
}

.value-bottom {
    text-align: right;
    font-weight: bold;
}

.container-fluid {
    background-color: green;
    /* border-spacing: 5px; */
}

.game-score {
    background-color: rgb(204, 203, 203);
}