<div class="card">
    <div class="card-header">
        {{pageTitle}}
    </div>
    <div class="card-body">
        <div class="container-fluid">
            <table class="table game-table">
                <thead>
                    <tr>
                        <th>Dealer</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="game-card"></td>
                        <td class="game-card"></td>
                    </tr>
                    <tr class="game-score">
                        <td>Score</td>
                        <td id="dealer-score">0</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
    <div class="card-body">
        <div class="container-fluid">
            <table class="table game-table">
                <thead>
                    <tr>
                        <th>Player</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="game-card"></td>
                        <td class="game-card"></td>
                    </tr>
                    <tr class="game-score">
                        <td>Score</td>
                        <td id="player-score">0</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>